i[class^=icon] {
  display: inline-block;
  width: 48px;
  height: 48px;
}

.icon-topic {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAG1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACUUeIgAAAACHRSTlMAgNQU5YYaPyFs1vYAAAB6SURBVDjLY6AHYPXowAJaAhgiOrCCVgaPAmzmsLcwdGC3oWPgJRgFUYAATolROxBGCeCUGExRi00CZxIFJWqgJmYNjETN6gGSMMLIBmDzgBrUsFuU1GSAVYJNQxm706AaMCWgNmBKQDVgSijjyNG4NDDg0sCQwEAVAABD2ltuVHtQdgAAAABJRU5ErkJggg==);
}
